<!doctype html>
<html lang="fr">
	{% include 'head.html.twig' %}
	<body>
		{% include 'header.html.twig' %}
		<div class="admin-form">
			<h1 class="title-admin-form">Ajouter un nouvel article</h1>
			<hr class="tm-hr-primary tm-mb-45">
			<form action="/posts/create" enctype="multipart/form-data" method="post" class="mb-5 tm-comment-form">
				<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
				<label for="title">Titre</label>
				<div class="mb-4">
					<textarea class="form-control" name="title" rows="6" required></textarea>
				</div>
				<label for="image">Image</label>
				<div class="mb-4">
					<input class="form-control" type="file" name="image" rows="6" accept="image/png, image/jpeg" required/>
				</div>
				<label for="chapo">Chapô</label>
				<div class="mb-4">
					<textarea class="form-control" name="chapo" rows="6" required></textarea>
				</div>
				<label for="description">Description</label>
				<div class="mb-4">
					<textarea class="form-control" name="description" rows="6" required></textarea>
				</div>
				<div class="text-right">
					<button class="tm-btn tm-btn-primary tm-btn-small">Envoyer</button>
				</div>
			</form>
		</div>
		{% include 'footer.html.twig' %}
	</body>
</html>
