<footer>
	<div class="col1 coordonnees">
		{% if userConnected is not empty and userConnected.approved %}
			<div class="fcol">
				<h1>Pages d'administration</h1>
				<nav>
					<ul>
						<li><a href="/admin/post/create/view">Ajouter un article</a></li>
						<li><a href="/admin/users/list/view">Approuver les utilisateurs</a></li>
						<li><a href="/admin/comments/list/view">Approuver les commentaires</a></li>
					</ul>
				</nav>
			</div>
		{% endif %}
		<div class="fcol">
			<h1>Mes coordonées</h1>
			<nav>
				<ul>
					<li>07 61 52 00 20</li>
					<li>elachri.fz@gmail.com</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="fcol">
		<div class="container contact">
			<h1>Me contacter</h1>
			<form action="/contact" method="post">
				<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
				<label for="name">Nom & prénom</label>
				<input type="text" id="fname" name="name" placeholder="Votre nom et prénom" required>
				<label for="subject">Sujet</label>
				<input type="text" id="sujet" name="subject" placeholder="L'objet de votre message" required>
				<label for="email">Email</label>
				<input id="emailAddress" type="email" name="email" placeholder="Votre email" required>
				<label for="message">Message</label>
				<textarea id="message" name="message" placeholder="Votre message" style="height:200px" required></textarea>
				<input type="checkbox" required name="rgbd">
				<label for="rgpd">J'autorise le site à stocker/utiliser mes données personnelles</label>
				<input type="submit" value="Envoyer">
				{% if contact is not empty %}
					<span>{{contact.message}}</span>
				{% endif %}
			</form>
		</div>
	</div>
</footer>
