<!doctype html>
<html lang="fr">
	{% include 'head.html.twig' %}
	<body>
		{% include 'header.html.twig' %}
		<div class="container-fluid">
			<div class="about">
				<div class="about-illustration">
					<img src="public/assets/logo-image.jpg" alt="illustration">
				</div>
				<div class="about-center">
					<h1>A propos de moi</h1>
					<div class="description">
						<span>Bonjour et bienvenue sur mon site web. Je m'appelle Fatima ALKHALLOUFI, je suis développeuse Fullstack junior passionnée par la programmation.</span>
						<span>Sur la page blog vous trouverez des articles intéressants sur l'actualité numérique.</span>
						<span>Aussi, vous pouvez découvrir mon travail en allant sur la page mon Portofolio ou en téléchargeant mon CV.</span>
						<span>Merci pour votre visite et n'hésitez pas de me laisser vos commentaires.</span>
					</div>
					<div>
						<a href="public/assets/cv/CV_Fatima_ALKHALLOUFI.pdf" download="CV_Fatima_ALKHALLOUFI.pdf">
							<i class="fa fa-download" aria-hidden="true">
								CV</i>
						</a>
					</div>
					<a href="https://www.linkedin.com/in/fzelachri/">
						<i class="fa-brands fa-linkedin" style="color: #405dce;"></i>
					</a>
					<a href="https://github.com/fatialk">
						<i class="fa-brands fa-github" style="color: #0a0a0a;"></i>
					</a>
				</div>
			</div>
		</div>
		{% include 'footer.html.twig' %}
	</body>
</html>
