<!doctype html>
<html lang="fr">
	{% include 'head.html.twig' %}
	<body>
		{% include 'header.html.twig' %}
		<div class="portfolio">
			<article class="portfolio-one">
				<div>
					<h2 class="portfolio-one-title">Booki - Hébergements et activités de vacances</h2>
					<img class="portfolio-image" src="../assets/booki.jpg" alt="Image">
				</div>
				<div class="one-project-description">
					<p>
						<span>Intégration de l’interface du site « Booki » qui propose des hébergements et des activités de vacances</span>
					</p>
				</div>
			</article>
			<article class="portfolio-one">
				<div>
					<h2 class="portfolio-one-title">Ohmyfood - site de restauration</h2>
					<img class="portfolio-image" src="../assets/ohmyfood.jpg" alt="Image">
				</div>
				<div class="one-project-description">
					<p>
						<span>Site web responsive proposant le menu de 4 restaurants parisiens</span>
					</p>
				</div>
			</article>
			<article class="portfolio-one">
				<div>
					<h2 class="portfolio-one-title">Chalets et caviar - Vente et location de chalets de vacances</h2>
					<img class="portfolio-image" src="../assets/chalets_et_caviar.PNG" alt="Image">
				</div>
				<div class="one-project-description">
					<p>
						<span>Site web d'une agence de vente et de location de chalets de vacances</span>
					</p>
				</div>
			</article>
			<article class="portfolio-one">
				<div>
					<h2 class="portfolio-one-title">Festival de films en plein air</h2>
					<img class="portfolio-image" src="../assets/festival_film_plein_air.PNG" alt="Image">
				</div>
				<div class="one-project-description">
					<p>
						<span>Pour un festival de films en plein air - développement du Cahier des charges, de la charte graphique et des
							            maquettes du site web</span>
					</p>
				</div>
			</article>
		</div>
		{% include 'footer.html.twig' %}
	</body>
</html>
