@charset "UTF-8";
body {
  line-height: 28px;
}
a {
  text-decoration: none;
  color: inherit;
}
.sign-in-form {
  padding: 50px !important;
  min-width: 280px;
}
button {
  font-size: 20px;
}
.logo-image {
  max-width: 300px;
}
.main {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.main .accueil {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex: 0 0 40%;
  max-width: 400px;
}
.main .accueil .mot-accueil {
  flex-wrap: wrap;
  padding: 20px;
  max-width: 300px;
  line-height: 2em;
  font-size: 22px;
  text-align: center;
}
.main .accueil .mot-accueil span {
  color: hsl(10deg, 99%, 50%);
}
.main .screen-1 {
  background: white;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 1em #fe2b01;
  gap: 2em;
  flex: 0 0 20%;
  font-size: 20px;
}
.main .screen-1 .login {
  padding: 10px 20px;
  background: hsl(10deg, 99%, 50%);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}
.main .screen-1 .footer {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 10em;
}
.main .screen-1 .signup {
  padding: 10px 20px;
  cursor: pointer;
  background: rgb(228, 224, 223);
  border: none;
  border-radius: 30px;
}
.main .screen-1 .field {
  background: white;
  box-shadow: 0 0 1em #e6e9f9;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}
.main .screen-1 .field input {
  outline: none;
  border: none;
}
.main .screen-1 .field input ::-moz-placeholder {
  color: grey;
  font-size: 0.9em;
}
.main .screen-1 .field input :-ms-input-placeholder {
  color: grey;
  font-size: 0.9em;
}
.main .screen-1 .field input ::placeholder {
  color: grey;
  font-size: 0.9em;
}
@media screen and (max-width: 750px) {
  .main {
    flex-direction: column;
  }
  .accueil {
    padding: 30px;
    margin-top: 30px;
  }
}
.title {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.title span {
  font-weight: bold;
  color: hsl(10deg, 99%, 50%);
  justify-content: center;
  display: flex;
  width: 40%;
}
/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}
.sign-out-button {
  margin: 35px;
  display: flex;
  align-self: end;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  align-self: end;
}
.header li a {
  display: block;
  padding: 15px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}
.main-signin-register {
  display: flex;
  justify-content: center;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 28px 20px 0px;
  position: relative;
  user-select: none;
  justify-content: right;
}
.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.btn-sign-in-out {
  background-color: #fe2b01;
}
/* 62em = 992px */
@media (min-width: 62em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}
a {
  color: #000;
}
.about {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}
.about .about-illustration {
  display: flex;
}
.about .about-illustration img {
  width: 100%;
}
.about h1 {
  color: hsl(10deg, 99%, 50%);
}
.about .about-center {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.about .about-center .social-media-cv {
  display: flex;
  padding: 20px 0 20px 0;
}
.about .about-center .social-media-cv span {
  padding: 10px 10px 10px 5px;
}
.about .about-center .social-media-cv i {
  font-size: 20px;
  padding: 5px;
  background-color: #f3e0c8;
}
.about .about-center .description {
  display: flex;
  flex-direction: column;
}
.about .about-center .description span {
  text-align: justify;
  padding: 5px;
}
.about .about-center .description .cv {
  padding-left: 5px;
}
.post-image {
  width: 40%;
}
.user-image {
  width: 100px;
  height: 100px;
}
.add-post {
  display: flex;
  align-self: end;
}
.create-post-hidden {
  display: none;
}
.one-post {
  max-width: 100%;
  align-self: center;
}
#hidden {
  display: none;
}
.register-form {
  margin: 50px 50px 50px 0px;
}
.comment-content {
  align-self: end;
  display: flex;
  flex-direction: column;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
  margin-top: 200px;
  margin-bottom: 200px;
}
.portfolio-one {
  padding: 50px;
  width: 600px;
  background-color: #f3e0c8;
}
.portfolio-one-title {
  height: 100px;
}
.portfolio-one-description {
  max-height: 200px;
}
.portfolio-image {
  width: 100%;
  max-height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  display: flex !important;
  justify-content: space-around;
  flex-direction: row;
  padding: 30px;
  background-color: #f3e0c8;
}
footer .coordonnees {
  margin-right: 80px;
}
footer input[type="text"],
footer textarea,
footer input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
footer label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}
footer input[type="submit"] {
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer input[type="submit"]:hover {
  background-color: #1872d9;
}
footer .container {
  /* Ajouter box-sizing */
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f3e0c8;
  width: 100%;
  /* redéfinition 400 + 2*20 */
  max-width: 440px;
  margin: 0 auto;
}
footer h1 {
  color: hsl(10deg, 99%, 50%);
  width: 100%;
}
footer a {
  text-decoration: none;
  color: black;
}
footer ul {
  list-style-type: none;
  padding: 0px;
}
footer ul li {
  margin-bottom: 15px;
}
footer .contact {
  padding: 0px !important;
}
@media screen and (max-width: 750px) {
  header {
    flex-direction: column;
  }
  .menu #sidebarMenu {
    width: 92%;
  }
  .menu #sidebarMenu .main-content-wrapper {
    display: inherit;
  }
  .menu #sidebarMenu .main-content-wrapper a {
    width: 100%;
    margin: 0;
    border-radius: inherit;
    font-size: 16px;
  }
} /*# sourceMappingURL=main.css.map */
.admin-form {
  width: 80%;
  margin: 0 AUTO;
  margin-top: 200px;
  margin-bottom: 200px;
}
.title-admin-form {
  margin-bottom: 50px;
}
@media (min-width: 280px) {
  .container-fluid {
    padding-top: 209px;
  }
  .projects {
    padding-top: 209px;
  }
}
@media (min-width: 582px) {
  .container-fluid {
    padding-top: 125px;
  }
  .projects {
    padding-top: 125px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-top: 109px;
  }
  .projects {
    padding-top: 109px;
  }
}
@media (max-width: 582px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .title {
    flex-direction: column;
  }
  .title span {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .register {
    display: flex;
    flex-direction: column;
  }
}
